body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}
.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width: 80%;
}
.logo-content-img {
  border: solid 0px #42515f;
}
.address-text {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #0b96e6;
  text-transform: capitalize;
}
.address-book {
  color: #4c5b69;
}
* {
  box-sizing: border-box;
}
.cross-image {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 50%;
  cursor: pointer;
  margin-top: 10px;
}
.address_logo{
    display: block;
    width: 8%;
    height: 10%;
    cursor: pointer;
    margin-top: 10px;
}
.form-content {
  min-height: calc(100%-80px);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}
.form {
  width: 65%;
  padding: 44px 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  opacity: 1;
}
.form-head {
  font: normal normal bold 24px/37px Roboto;
  letter-spacing: 0px;
  color: #1b242c;
  text-transform: capitalize;
  text-align: center;
  opacity: 1;
  padding-bottom: 10px;
  background: #0b96e6;
  border-radius: 10px;
  margin-top: 10px;
}
.form-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 30%;
  font: 25px/30px Roboto;
  letter-spacing: 0px;
  color: rgb(36, 13, 13);
  opacity: 2;
}
.row-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  border: 0px solid green;
  padding-top: 20px;
}
.label {
  min-width: 140px;
}
.zip {
  text-align: center;
}
.state {
  text-align: center;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.text {
  font-size: 16px;
  color: #42515f;
  opacity: 1;
  font-family: Roboto;
}
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font: normal normal normal 16px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  background-color: transparent;
}
error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

.buttonParent {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  margin-top: 20px;
}
.button {
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
  background: transparent;
  border: none;
  font-weight: 400;
  min-width: 140px;
  padding: 7px 7px;
  border: 1px solid #707070;
  cursor: pointer;
}
.submitButton {
  border: 1px solid #707070;
  background-color: #f5f5f5;
  margin-right: 30px;
}
.cancelButton {
  text-decoration: none;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .cancelButton {
    margin-left: 0px;
  }
  .form {
    width: 85%;
    padding: 44px 20px;
  }
}
